body {
  margin: 0;
  background: black;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

h1 a {
  color: white;
  text-decoration: none;
}

h1 a:hover{
  opacity:0.8;
}

.nav-buttons {
  margin-bottom: 30px;
}

.nav-buttons a {
  text-decoration: none;
}

button {
  background: white;
  color: black;

  border: none;

  padding: 10px 20px;

  font-size: 16px;

  cursor: pointer;
}

.instructions-box {
  width: 300px;

  border: 2px solid white;

  padding: 20px;

  margin-bottom: 40px;

  box-sizing: border-box;
}

canvas {
  border: 3px solid white;
}

#game-container{
  margin-bottom:20px;
}

.instructions-box{
  margin-bottom:20px;
}

.instructions-box p {
  margin: 0;
}

.slides-container{
  width:90%;
  display:flex;
  justify-content:center;
}